*{
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 220px 5fr;
    grid-template-rows: 10vh 80vh 10vh;

}

header{
    grid-column: 1/-1;
    grid-row: 1/1;
    background:black;
    color:#60A2C3 ;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header p{

}
main{
    grid-column: 2/-1;
    grid-row: 2/3;
    background: #DCC275;
    width: 100%;
    height: 100%;    
}
.meniu{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    width: 220px;
    background:#E1693C;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.meniu input[type="button"]{
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin-top: 7px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-size: 1.2em;
}
#h_home,#c_home{
    margin-bottom: auto;
}
.main.home{
    /*margin: auto;*/
    display: flex;
    width: 100%;
    height: 100%;
    padding: 7px 15px 7px 15px;
    
    
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start; 
}
footer{
    grid-column: 1/-1;
    grid-row: 3/-1;
    background: gray;
}

.card.produs{
    box-shadow: 10px 5px 5px #7B6D5D;
    
    margin: 10px;
    border-radius: 2px;
    background: #60A2C3;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
    width: 500px;
    height: 200px;
       position: relative;
}
.card.produs h1{
    line-height: 35Px;
    margin-top: 0px;
    margin-bottom: 5px;
    background: #A77346;
    color: white;
    position: sticky;
    top: 5px;
}
.card p{
    margin-top: 7px;
    font-weight:500;
}
#pret p{
    width: 150px;
}
#pret span{
    background:#E1693C;
    width: 100px;
    color:white;
    font-size: 1.2em;
    text-align: right;
    display: inline-block;
}
#info{
    text-align: justify;

}
#categ{
    margin-top: 15px;
}
.card.produs .info{
    position:absolute;
    flex-grow: 1;
    top: 2px;
    left: 162px;
    margin-left: 7px;
    overflow-y: auto;
    
    height: 80%;
    padding: 5px;
}
#idp{
    display: none;
}
#info{
    color:#332D27;
}

#addcos{
    width: 49px;
    height: 49px;
    border: none;
    background: #E1693C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    z-index: 120;
}
#addcos img{
    width: 35px;
    height: 35px;
    margin: auto;
}

#addcos{
    position:absolute;
    z-index: 100;
    bottom: -15px;
    
    right: -15px;
 
    
}

#avatar{
    height: 150px;
    width: 150px;
    flex-grow: 0;
    margin-left: 7px;
    position: sticky;
    top:0px;
}
main{
    margin: auto;
    display: flex;
    align-content: center;
}


.container.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2s, display 2s,transform 2s; 
    /*transition: all 2s linear;*/    

}

.login{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.loginform{
    background: #97AB77;
    width: 320px;

}
.login input[type="text"],input[type="password"]{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    font-weight: 500;
}
.submit{
    width: 100%;
    background: #E1693C;
    color: white;
    margin-top: 10px;
    height: 40px;
}
legend{
    background: #97AB77;
    font-weight: 700;
    font-size: 1.3em;
}
.container.mkuser{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mkuserform{
    background: #B8ADA1;
    width: 320px;

}
.mkuser{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.mkuser input[type="text"],input[type="password"],textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;    
}
.mesaje{
    width: 300px;
    background: #A59889;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding: 7px;
    transition: all 0.5s ease-in-out;
}
.mesaje p{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bktohome{
    border: none;
    background: #BA711E;
    color: white;
    margin-top: 10px;
    height: 40px;

}

#chcateg{
    width: 300px;
    height: 150px;
    padding: 10px;
    margin-top: 20%;
    margin: auto;
    background: #B8ADA1;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

}
#chcateg input[type="button"]{
    align-self: flex-end;
    margin-top: 60px;
    border: none;
    background-color:  #BA711E;
    color: white;
    height: 30px;
}
#chcateg select{
    margin-top: 10px;
}
.logininfo{
    font-size: .6em;
    margin-left: auto;
}

/*card cos*/
#cardcos{
    height: 100px ;
    background-color: blanchedalmond;
    font-size: 1em;
    width: 200px;
    margin: 5px;
    height: 280px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 5px 5px #7B6D5D;
}

#cardcos #cosidprod{
    display: none;
}


.infocos h3,.infocos p{
    margin: 0px;
    width: 200px;
    margin: 2px auto;

}

#cardcos p{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}
#cardcos img{
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}
.infocos{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.infocos h3{
    margin-bottom: auto;
}
#myrange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:0px auto 0px auto;
    width: 130px;
}
#myrange input[type="button"]{
    width: 30px;
    height: 30px;
}

#cosminus,#cosplus{
    background: chocolate;
    border: none;
    font-size: 1.2em;
    font-weight: bolder;
    width: 30px;
    height: 30px;
}

#myrange input[type="text"]{
    width: 70px;
    height: 28px;
    border: none;
    background: white;
    text-align: center;
    font-size: 1.2em;
    readonly:true;
}

.spacecos{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
}